<h1 class="connector"><%= @group.name %> </h1><br>
<br>
<p class="connectoror">Other members</p>
<ul>
<% @group.users.each do |user|%>
<li><%= link_to user.first_name, user_path(user), class: "newone" %>
  </li>
<% end %>
</ul><br>
<br>
<%= simple_form_for [@group, @user_group] do |f| %>
<%= f.association :user, collection: User.where.not(id: current_user.id).pluck(:id, :first_name), label_method: :second, value_method: :first %>
  <%= f.button :submit, class: "connectoror" %>
<% end %>
<%= link_to ">>groups", groups_path, class: "connectoror"  %><br>
<br>
<p class="connectoror">Where are your fellow members?</p>
    <div id= "map", style="width: 300px; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
