
<div class="banner" >
  <a href="https://www.traidcraftshop.co.uk/food/store-cupboard/jams-spreads">
    <div class="plus-slideshow">
      <div class="product-1"></div>
      <div class="product-2"></div>
    </div>
  </a>
  </div>
</div>
<div class="search-bar" style="width: 900px;" >
  <%= form_with url: users_path, method: :get, class: "d-flex align-items-center" do |form| %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a jammer"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
  <div class="card-wrapper" data-controller="logo-animation" id="soundpopper">
  <% @users.each do |user|  %>
<div class="hpsizing">
  <div id= "map", style="width: 1450px; height: 350px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
    <div class="card">

      <div class="card-image">
        <%= cl_image_tag user.photo.key%>
      </div>

      <ul class="social-icons">
        <li>
           <%=   link_to user_path(user) do %>
            <i class="fa-solid fa-user"></i>
          <% end %>
        </li>
      </ul>

      <div class="details">
        <h2 class="connectororino"><%= user.first_name %>
          <br>
          <span class="job-title"><%= user.instrument %></span>
        </h2>
      </div>

    </div>
  <% end %>
  </div><!-- end box wrapper -->
