
 <%= link_to "leave review", new_user_review_path(@user) %>
 <% @reviews.each do |review| %>
    <%= review.content %>
 <% end %>

 <div class="containerpr">
  <div class="cardpr">
    <%= cl_image_tag(@user.photo.key, :class => "card__image") %>
    <p class="card__name"><%= @user.first_name %></p>
    <div class="grid-container">

      <div class="grid-child-posts">
        156 Post
      </div>

      <div class="grid-child-followers">
        <%= @user.followers.count%>   followers
      </div>

    </div>
    <ul class="social-icons">
      <li><a href="#"><i class="fa fa-instagram"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      <li><a href="#"><i class="fa fa-codepen"></i></a></li>
    </ul>
    <button class="btn draw-border"><%=render @user%></button>
    <button class="btn draw-border">Message</button>

  </div>
<div class="fancy"> <p id= "biotext"> <%= @user.bio %> </p>
</div>
</div>

>
   <div id ="youtubevideo">
  <%=@user.video.html_safe%></div>








<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <% @user.followers.each do |user| %>
         <div class="containerfollow">

            <div class="card p-3">

                <div class="d-flex align-items-center">

                    <div class="image">
                 <%= cl_image_tag user.photo.key%>
                </div>

                <div class="ml-3 w-100">

                   <h4 class="mb-0 mt-0"><%=user.first_name %></h4>
                   <span> <%=user.instrument %></span>

                   <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">

                    <div class="d-flex flex-column">

                        <span class="articles">Articles</span>
                        <span class="number1">38</span>

                    </div>

                    <div class="d-flex flex-column">

                        <span class="followers">Followers</span>
                        <span class="number2">980</span>

                    </div>


                    <div class="d-flex flex-column">

                        <span class="rating"> <%  %></span>
                        <span class="number3">8.9</span>

                    </div>

                   </div>


                   <div class="button mt-2 d-flex flex-row align-items-center">

                    <button class="btn btn-sm btn-outline-primary w-100">Chat</button>
                    <button class="btn btn-sm btn-primary w-100 ml-2">Follow</button>


                   </div>


                </div>


                </div>

            </div>
            <% end %>
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
